<section>
  <div>
    <p class="text-lg font-bold text-green-600">
      Hi, {{ user?.name?.charAt(0).toUpperCase() + user?.name?.slice(1) }}
    </p>

    <p class="text-base font-semibold text-green-600">
      You can choose any location random in google maps to see hospital, schools, suppermarkets, parks in radius of 20km !
    </p>

    <div #map style="height: 500px" class="mb-4"></div>

    <p-button
      label="Submit Location"
      [raised]="true"
      severity="success"
      (click)="submitLocation()"
    >
     </p-button>

  </div>
</section>