<section>
  <div>
    <div #map style="height: 500px" class="mb-4"></div>

    <div class="flex align-items-center gap-4">
      <div class="flex align-items-center gap-2">
         <p class="text-lg font-semibold">
           Name
         </p>
         <p class="text-gray-800">
           Address
         </p>
      </div>

      <p-button
        label="Submit Location"
        severity="secondary"
        [text]="true"
        (click)="submitLocation()"
      >
       </p-button>
    </div>
  </div>
</section>